build
target
.idea
*.iml
.gradle
.classpath
.settings
.project
*.*~
*/bin
*.log
.cache
*.sc
*.cache-main
*.cache-tests
*.pyc
.vagrant
.DS_Store
classes
*.deb
schemas
*.tgz
*.zip
*.gz
*.bz2
*.jar
!sbt-launch.jar
logs/*
*.ipr
*.iws
